.venv
__pycache__
node_modules
.next
out
build
.DS_Store
*.pem
*.log
*.log*
*.log.*
*.log.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*
.env
.env*
.venv
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
